/* container */
.container {
  width: 1440px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: gray;
  
  
}
.background-color
{
  
  background-color: #1c3436;
 
  
}

.last-list
{
  margin-bottom: 0px;
  margin-top:0px;
  text-decoration: none;
  
}
/* header */
.header {
  background-color: #689159 ;
  height: 100px;
  background-image: url(fon100px.jpg)
  
}

.header-text {
  font-size: 32px;
  padding-top: 20px;
  padding-left: 12px;
  
}
.header-comment {
  text-decoration: none;
  color:white;
}
.book {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.firstsc {
  background-image: url(fonfullsize.jpg);
  height: 1037px;
}
.maintext {
  color: white;
  font-size: 50px;
}
.mainpara {
  width: 850px; 
  color: white; 
  font-size: 30px;
}
.paragtext {
  width: 900px;
  height: 627px;
  padding-top: 100px;
  padding-left: 50px;
  text-align: center;
}
/* background color for li */
.bgeen-color
{
  background-color:  #335040;
  color: white;
  border-radius: 10px;
  height: 280px;
  width: 200px;
}
.sgreen-color
{
  background-color: #689159;
  color: white;
  border-radius: 10px;
  
  height: 280px;
  width: 200px;
  
}
.gray-color
{
  background-color: #435758;
  border-radius: 10px;
  color:white;
  height: 280px;
  width: 200px;
}
/* text size  */
.chapter-name {
  font-size: 20px;
  margin-top: 20px;
  height: 46px;
  
}

.chapter-info {
  list-style-type: none;
  display: inline-block;
  width: 25%;
  margin: 50px;
  padding: 5px 15px;
  text-align: center;
  vertical-align: top;
  
}

/* footer */
.footer {
  background-color: #1c3436;;
  height: 100px;
  padding-top: 0px;
  
}
.footer-comment {
  text-decoration: none;
  color:white;
}
.footer-text {
  font-size: 12px;
  padding-top: 20px;
  padding-left: 12px;
}
